@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
img{
  width: 100%;
  vertical-align: bottom;
}
a{
  /* color: inherit; */
  text-decoration: none;
}
.header{
  width: 100%;
  height: 100vh;
  background: url(../img/top.jpg) no-repeat center bottom;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  >h1{
    font-family: 'Galada', cursive;
    font-size: 56px;
    margin-bottom: 10px;
    color: #181e6b;
  }
}

.gnav{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  >ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    >li{
    height: 60px;
    >a{
      padding: 0 30px;
      line-height: 60px;
      font-size: 20px;
      color: #181e6b;
      &:hover{
        color: #8d9b0d;
      }
    }
  }
  }
  
}